<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/basic">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
	<div class="row">
		<h1 style="text-align: center">Ingredients</h1>
		
		
		
		<h3 style="text-align: center">Fruit</h3>
		<table style="width:100%" border="2">
			<thead>
				<tr>
					<th style="text-align: center">Name</th>
					<th style="text-align: center">Price</th>
					<th style="text-align: center">Vitamins</th>
					<th style="text-align: center">Calories</th>
					<th style="text-align: center">In Stock</th>
					<th style="text-align: center">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ingredients : ${ingredients}" style="text-align: center">
					<td th:text="${ingredients.name}"></td>
					<td th:text="${ingredients.price}"></td>
					<td th:text="${ingredients.vitamins}"></td>
					<td th:text="${ingredients.calories}"></td>
					<td th:text="${ingredients.instock}"></td>
					<td><a href="/" th:href="@{|/ingredients/${ingredients.id}|}">View</a></td>
				</tr>
			</tbody>									
		</table >
		<button type="button"> <a href="ingredients/create">Add</a></button>
		
		<h3 style="text-align: center">Vegetables</h3>
		<table style="width:100%" border="2">
			<thead>
				<tr>
					<th style="text-align: center">Name</th>
					<th style="text-align: center">Price</th>
					<th style="text-align: center">Vitamins</th>
					<th style="text-align: center">Calories</th>
					<th style="text-align: center">In Stock</th>
					<th style="text-align: center">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="veggies : ${veggies}" style="text-align: center">
					<td th:text="${veggies.name}"></td>
					<td th:text="${veggies.price}"></td>
					<td th:text="${veggies.vitamins}"></td>
					<td th:text="${veggies.calories}"></td>
					<td th:text="${veggies.instock}"></td>
					<td><a href="/" th:href="@{|/ingredients_v/${veggies.id}|}">View</a></td>
				</tr>
			</tbody>						
		</table>
		<h3 style="text-align: center">Milk</h3>
		<table style="width:100%" border="2">
			<thead>
				<tr>
					<th style="text-align: center">Name</th>
					<th style="text-align: center">Price</th>
					<th style="text-align: center">Vitamins</th>
					<th style="text-align: center">Calories</th>
					<th style="text-align: center">In Stock</th>
					<th style="text-align: center">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="milk : ${milk}" style="text-align: center">
					<td th:text="${milk.name}"></td>
					<td th:text="${milk.price}"></td>
					<td th:text="${milk.vitamins}"></td>
					<td th:text="${milk.calories}"></td>
					<td th:text="${milk.instock}"></td>
					<td><a href="/" th:href="@{|/ingredients_m/${milk.id}|}">View</a></td>
				</tr>
			</tbody>						
		</table>
		<h3 style="text-align: center">Yogurt</h3>
		<table style="width:100%" border="2">
			<thead>
				<tr>
					<th style="text-align: center">Name</th>
					<th style="text-align: center">Price</th>
					<th style="text-align: center">Vitamins</th>
					<th style="text-align: center">Calories</th>
					<th style="text-align: center">In Stock</th>
					<th style="text-align: center">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="yogurt : ${yogurt}" style="text-align: center">
					<td th:text="${yogurt.name}"></td>
					<td th:text="${yogurt.price}"></td>
					<td th:text="${yogurt.vitamins}"></td>
					<td th:text="${yogurt.calories}"></td>
					<td th:text="${yogurt.instock}"></td>
					<td><a href="/" th:href="@{|/ingredients_y/${yogurt.id}|}">View</a></td>
				</tr>
			</tbody>						
		</table>
		<h3 style="text-align: center">Alcohol</h3>
		<table style="width:100%" border="2">
			<thead>
				<tr>
					<th style="text-align: center">Name</th>
					<th style="text-align: center">Price</th>
					<th style="text-align: center">Vitamins</th>
					<th style="text-align: center">Calories</th>
					<th style="text-align: center">In Stock</th>
					<th style="text-align: center">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="booze : ${booze}" style="text-align: center">
					<td th:text="${booze.name}"></td>
					<td th:text="${booze.price}"></td>
					<td th:text="${booze.vitamins}"></td>
					<td th:text="${booze.calories}"></td>
					<td th:text="${booze.instock}"></td>
					<td><a href="/" th:href="@{|/ingredients_b/${booze.id}|}">View</a></td>
				</tr>
			</tbody>						
		</table>
		<button type="button"> <a href="ingredients/create_b">Add</a></button>
	</div>
</body>
</html>